vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-MPR0ALG\\north
vti_modifiedby:SR|DESKTOP-MPR0ALG\\north
vti_timelastmodified:TR|01 Jan 2017 15:50:51 -0000
vti_timecreated:TR|01 Jan 2017 15:33:46 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|other.html index.html research.html courses.html
vti_nexttolasttimemodified:TW|01 Jan 2017 15:47:51 -0000
vti_cacheddtm:TX|01 Jan 2017 15:50:51 -0000
vti_filesize:IR|1731
